<div class="row">
	<div class="col-sm-10 offset-sm-1">
		<nav ngbNav #nav="ngbNav" class="nav-tabs bg-dark navbar-dark">
			<ng-container ngbNavItem *ngFor="let link of navLinks">
				<a ngbNavLink [routerLink]="link.link"  routerLinkActive="active"> {{link.label}} </a>
				<ng-template ngbNavContent>		
				</ng-template>	
			</ng-container>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 offset-sm-1">
		<div [ngbNavOutlet]="nav" class="mt-2">
			
		</div>
		<router-outlet></router-outlet>	
	</div>
</div>